{% extends 'base.html' %}

{% block content %}

<h4>Sobre la app</h4>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, quidem ex?
  Error quo blanditiis in doloremque odit accusamus voluptate cupiditate aut
  veniam harum sunt libero voluptatem eligendi, alias expedita placeat obcaecati
  eveniet? Doloribus provident, ratione repellendus illo reprehenderit
  necessitatibus ea inventore explicabo ullam! Dignissimos obcaecati, a dolore, sed autem
  totam at tempore harum porro, ea ullam aut tempora quos facilis vitae magni
  consequatur iure natus ducimus. Veniam mollitia modi enim incidunt. Unde,
  quibusdam repellat? Sapiente nulla minima unde, quae aliquid repudiandae rem
  rerum excepturi, facilis veniam ipsam vel natus voluptatem tenetur quisquam
  accusamus odio eos! Culpa odit sint ea, quaerat voluptatum consectetur dolores
  a impedit fugit, modi harum at officia delectus incidunt dolorem accusantium!
  Culpa at nobis repellat labore quibusdam eius? Sed doloremque rerum ipsum
  accusantium! Hic quae ipsam aperiam eaque. Ut laboriosam ipsum quae esse.
  Corrupti deleniti rem debitis illo sint tempore deserunt officiis suscipit
  pariatur, vel impedit at ipsam labore voluptatum magni numquam alias saepe
  illum dolorem laboriosam eligendi provident. Ipsa totam ab dicta fuga
  accusamus sed molestiae, quidem qui quam atque error, unde maxime tenetur
  aliquid nulla ea beatae ipsam nemo blanditiis laboriosam consequatur, quia
  quasi? Beatae eum dolorum magni aliquid illo, ipsam voluptates vitae nobis
  fugit doloremque dolor quaerat ab minus a ut id? Architecto, sapiente ut.
  Inventore distinctio voluptatem assumenda nostrum. Molestias voluptas officia
  consequuntur commodi, porro necessitatibus quisquam aspernatur vitae dolorem
  ducimus sunt odit, quia iusto sed libero eligendi fuga nam esse. Minus
  necessitatibus molestias eos ullam fugiat alias, molestiae impedit! Vero, nam
  accusantium libero, nemo hic nobis facere dolores, nostrum eveniet quia
  mollitia molestiae? Aliquam nemo temporibus accusamus sint explicabo veniam,
  beatae enim facilis. Ut, perferendis harum facere id temporibus tempore
  laudantium dolore placeat nemo non nesciunt expedita soluta architecto tempora
  quasi quas reprehenderit ipsam aperiam cum magnam consequuntur vero. Corporis
  rem illo quae aspernatur odio libero laboriosam dolor incidunt qui ipsa nobis,
  accusamus eveniet eos at, expedita nam corrupti fugit similique blanditiis
  cumque consequuntur culpa?
</p>

{% endblock %}
