<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="icon"
      href="{% static '/img/Estadios.svg' %}"
      type="image/svg+xml"
    />
    <title>
      Asamblea Regional “¡Prediquemos las buenas noticias!” - San Juan.
      Argentina
    </title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}" />
    <script src="{% static '/js/scripts.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="body-container">
      <header>
        <!-- Web view -->
        <nav aria-label="Main Navigation" class="navbar">
          <div class="spread">
            <div class="menu-nav-web">
              <ul>
                <li>
                  <a title="Info sobre la asamblea" href="/">
                    <i class="fa-light icon-self fa-people-group"></i>
                    <span class="text-icon">Inicio</span>
                  </a>
                </li>
                {% for key, item in menu_items.items %}
                <li>
                    <a title="{{ item.title }}" href="{% url item.url %}">
                        {{ item.icon|safe }}
                        <span class="text-icon">{{ item.name }}</span>
                    </a>
                </li>
                {% endfor %}
                <li>
                  <a title="Info sobre la asamblea" href="referentes/">
                    <i class="fa-light icon-self fa-address-book"></i>
                    <span class="text-icon">Referentes</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Mobile view -->
        <nav class="header-image-mobile">
          <div class="mobile-nav-container">
            <img
              alt=""
              src="{% static '/img/Estadios.svg' %}"
              class="icon-mobile"
            />
            <h5>“¡Prediquemos las buenas noticias!”</h5>
          </div>
        </nav>
      </header>

      <main class="container">
        <div class="main-content">
          {% block content %}
          <!-- Contenido que varía entre los templates -->
          {% endblock %}
        </div>
      </main>
    </div>

    <!-- Sandwich button to activate footer -->
      <div class="sandwich-btn">
        <i class="fa-solid fa-bars"></i>
      </div>
      <script src="{% static '/js/sandwich-btn.js' %}"></script>
    </div>
    
    <!-- Footer -->
    <footer>
      <nav class="mobile-task-bar">
        <div class="mobile-task-container">
          <ul class="mobile-task-bar-ul">
            <li class="mobile-task-bar-li">
              <a title="Info sobre la asamblea" href="/">
                <i class="fa-light icon-self fa-people-group"></i>
                <span class="text-icon">Inicio</span>
              </a>
            </li>
            {% for key, item in menu_items.items %}
            <li>
              <a title="{{ item.title }}" href="{% url item.url %}">
                {{ item.icon|safe }}
                <span class="text-icon">{{ item.name }}</span>
              </a>
            </li>
            {% endfor %}
            <li>
              <a title="Info sobre la asamblea" href="referentes/">
                <i class="fa-light icon-self fa-address-book"></i>
                <span class="text-icon">Referentes</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
  </body>
</html>
