{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<ul class="item-ul">
  {% for key, lugar in comidas.items %}
  <li class="item-li">
    <div class="lugar-info">
        <h3 class="item-name">{{ lugar.Nombre }}</h3>
        <span class="item-address">Dirección: {{ lugar.Dirección }}</span><br>
        <span class="item-phone">Teléfono: <a class="item-phone" href="{{ lugar.llamada }}">{{ lugar.Teléfono }}</a></span>
    </div>
    {{ lugar.gps|safe }}
  </li>
  <hr />
  {% endfor %}
</ul>
{% endblock %}