{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<ul class="item-ul">
  {% for key, lugar in farmacias.items %}
  <li class="item-li">
    <div class="lugar-info">
        <h3 class="item-name">{{ lugar.Nombre }}</h3>
        <span class="item-address">Dirección: {{ lugar.Dirección }}</span>
        <br>
        <a class="item-phone" href="{{ lugar.llamada }}">Llamar: {{ lugar.Teléfono }}</a>  <!-- Enlace de llamada -->
    </div>
    <div class="map-container">
        {{ lugar.gps|safe }}
    </div>
  </li>
  <hr />
  {% endfor %}
</ul>
{% endblock %}