{% extends 'base.html' %}

{% block content %}

<h4>Bienvenidos a la App de Django</h4>
<h5>{{ title }}</h5>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, eius vero.
  Exercitationem rerum id provident repellat officiis earum tenetur aspernatur
  nam consequatur ullam. Asperiores ipsa beatae a optio harum totam placeat
  magni! Voluptatem amet, consequatur, tenetur aliquid explicabo qui et incidunt
  ipsa ipsam aut at dolorum accusantium! Alias, saepe aliquid!
</p>

{% endblock %}
