{% extends 'base.html' %}
{% load static %}
{% block content %}
<ul class="item-ul">
  <li class="item-li">
    <div class="lugar-info">
      <h3 class="item-name">Leandro García</h3>
      <span class="item-address"></span><br />
      <span>Tel. Cel.:<a class="item-address" href="tel:3794944743" rel="noopener">379 494-4743</a></span> - <span><a class="item-address" href="https://wa.me/543794944743" target="_blank" rel="noopener">Enviar WhatsApp</a></span>
    </div>
  </li>
  <hr />
  <li class="item-li">
    <div class="lugar-info">
      <h3 class="item-name">Carlos Aubone</h3>
      <span class="item-address"></span><br />
      <span>Tel. Cel.:<a class="item-address" href="tel:2644453754">264 445-3754</a></span> - <span><a class="item-address" href="https://wa.me/542644453754" target="_blank" rel="noopener">Enviar WhatsApp</a></span>
    </div>
  </li>
  <hr />
  <li class="item-li">
    <div class="lugar-info">
      <h3 class="item-name">Miguel Montello</h3>
      <span class="item-address"></span><br />
      <span>Tel. Cel.:<a class="item-address" href="tel:2645043183">264 504-3183</a></span> - <span><a class="item-address" href="https://wa.me/542645043183" target="_blank" rel="noopener">Enviar WhatsApp</a></span>
    </div>
  </li>
  <hr />
</ul>
{% endblock %}
